 /* Sidebar */
 .Messages{
  display: flex;
  width: 95vw;
 }
 .MessagesContent{
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 2px;
 }
 .chatliste {
    width: 25vw;
    height: 100vh;
    background: white;
    color: #000000;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    scrollbar-width:thin;
  }
  .chatliste::-webkit-scrollbar {
    width: 8px ; /* Adjust scrollbar width */
}

.chatliste::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 4px;
}

.chatliste::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar thumb color */
    border-radius: 4px;
}

.chatliste::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovering */
}
  .user-profile {
    display: flex;
    height: 100px;
    width: 24vw;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    color: #818592;
  }
  .user-profile.active{
    color: #000000;
    background-color: #F5F6FA;
  }
  
  .user-initials {
    background-color: #F5F6FA;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:self-start ;
    border-radius: 50%;
    margin-top: 5%;
    font-size: 14px;
    font-weight: bold;
  }
  
  .user-details {
  
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 2px;
  }
  
  .user-details .name {
font-family: 'SF Pro';
font-style: normal;
font-weight: 510;
font-size: 16px;
line-height: 17px;

  }
  .user-details .name-time{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;

}  
.user-details  .email {
font-family: 'SF Pro';
font-style: normal;
font-weight: 510;
font-size: 12px;
line-height: 14px;
  }
  
  .user-details .timestamp {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
    font-style: italic;
    
  }
  
 .user-details  .signature {
font-family: 'SF Pro';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;


  }
  .chatliste .Searchbar{
    width: 24vw;
    height: 36px;
    background: #F6F7FB;
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 400;
    margin: 3%;
    font-size: 14px;
    line-height: 17px;
  padding-left: 4%;
    
    }